*{
    margin: 0;
    padding: 0;
}

/* heading styling */

.header{
    margin-top: -50px;
    height: 760px;
    width: 1510px;
    background: url('../images/banner/banner1.png');
    
}

.header-writing{
    padding-left: 500px;
    padding-right: 200px;
    padding-top: 200px;
    /* text-align: right; */
    
}

.header-title{
    padding-left: 300px;
    padding-bottom: 25px;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Anybody', cursive;
    text-align: right;
}

.header-dis{
    font-size: 22px;
    text-align: right;
    padding-left: 310px;
    color: rgb(155, 147, 147);
}

.header-btn{
    margin-left: 670px;
    margin-top: 30px;
    height: 60px;
    width: 160px;
    border: none;
    border-radius: 5px;
    background-color: tomato;
    font-size: 18px;
    color: white;

}
/* mains */
/* Section1 styling */

.section1{
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}

.section1-img img{
    width: 430px;
    margin-top: 60px;
    margin-left: 200px;
    background: rgb(253, 194, 203);
    border-radius: 70%;
}

.section1-details{
    margin-top: 110px;
    margin-left: 130px;
    text-align: left;
}

.section1-details > h1{
    font-size: 40px;
    font-weight: 700;
    margin-left: -20px;
    margin-right: 300px;
    margin-bottom: 20px;
    padding: 30px;
    color: rgb(67, 66, 66);

}

.section1-details > p{
    font-size: 22px;
    padding-right: 190px;
    margin-bottom: 20px;
    color: rgb(74, 72, 72);
    line-height: 30px;
}

.section1-details > ul{
    list-style: none;
    font-size: 22px;
    color: rgb(97, 92, 92);
}

.fa-solid{
    margin-right: 10px;
    color: green;
}

